OPENPROJECT_URL=https://project.intermesh.net
OPENPROJECT_API_KEY=1cf2877976ed7f8e936d5e63e9ef9b033a23f7911d4e0218179fecd6ac5a86ef

# Google OAuth 2.0
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SESSION_SECRET=
